body{
    font-family: Arial, sans-serif;
    background-color: violet;
    margin: 20px;
}
header {
    border-bottom: 2px solid #2980b9;
    padding: 10px 0;
    text-align: center;
}
h1{
    font-weight: bold;
    color: brown
}
p em{
    font-style: italic;
    color: #000;
}
nav a:hover{
    color: beige;
    text-decoration: underline;
}
gallery{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 15px;
}
box-model-container h2{
    font-weight: 700;
    margin-bottom: 15px;
    color: aqua;

}
box-model-container p{
    line-height: 1.6;
    margin-bottom: 15px;
    color: aliceblue;
}
box-model-container ul {
    margin-left: 20px;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: disc;
    color: black;
}
box-model-container li{
    margin-bottom: 10px;
    font-size: 1rem;

}
